@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
    overflow-x: hidden;
    background-color: rgba(244, 244, 244, 1);
}
#content-container{
    width: 99vw;
    height: 100vh;
    display: flex;
}
#footer{
    display: flex;
    justify-content: space-evenly;
    width: 99vw;
    height: 50vh;
    border-top: 1px solid gray;
    background-color: rgba(0, 0, 0, .6);
}
.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    width: 15%;
    height: 100vh;
    background-color: #FFFFFF;
}
.aside img{
    margin-top: 3vh;
}
.main {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 5%;
}
.top{
    width: 100%;
    height: 40vh;
    border-bottom: 1px solid lightgray;
    background-color: transparent;
}
.bottom{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
}
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 15vw;
    height: 70vh;
    row-gap: 1vh;
}
.navigation li{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    width: 75%;
    height: 5vh;
    padding-left: 2vw;
    transition: all .3s ease;
}
.navigation li:first-child{
    font-size: 3vh;
    background-color: rgba(244, 244, 244, 1);
    
}
.navigation li:not(:first-child):hover{
    background-color: rgb(245, 245, 245);
}
.navigation li a{
    text-decoration: none;
    color: black;
}
.navigation li:first-child a{
    color:  rgba(225, 71, 71, 1);
}
.header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
.nav-container:first-child{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 20%;
    height: 10vh;
    margin-top: 5vh;
}
.nav-container:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 10vh;
    margin-top: 5vh;
}
.nav-container h1{
    margin: unset;
    font-size: 1vw;
    margin-left: 2vw;
}
.nav-container:last-child h1{
    margin: unset;
    font-size: 1vw;
    margin-right: 2vw;
}
.nav-container h2{
    margin: unset;
    font-size: 1.5vw;
    margin-left: 2vw;
}
.cards{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 17vh;
    background-color: #FFFFFF;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 7px 13px -3px, rgba(0, 0, 0, 0.1) 0px -3px inset;
}
.sector{
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 1vh;
    align-items: center;
    height: 54vh;
    width: 27%;
    margin-top: 5vh;
    border-radius: 1.5vh;
}
.sector:first-child{
    overflow-y: scroll;
}
.sector:last-child{
    height: 44vh;
    overflow-y: scroll;
}
.sector h1{
    width: 90%;
    height: 8vh;
    font-weight: 400;
    margin: unset;
    padding: unset;
    position: sticky;
    top: 0;
    background-color: white;
    /* margin-left: 2vw; */
}
.tasks{
    padding: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 10vh;
    background-color: rgba(225, 71, 71, 0.1);
    transition: all .3s ease;
}
.tasks:hover{
    min-height: 15vh;
}
.tasks:hover ul{
    display: flex;
}
.tasks-button{
    display: flex;
    justify-content: start;
    position: sticky;
    bottom: 0;
    background-color: white;
    width: 90%;
    height: 10vh;
    margin: unset;
}
.tasks-button button{
    height: 10vh;
    width: 100%;
    border: 1px dotted rgba(225, 71, 71, 1);
    transition: all .3s ease;
}
.tasks-button button:hover{
    transform: scale(1.05);
}
.tasks h1{
    display: flex;
    justify-content: start;
    align-items: center;
    all: unset;
    font-size: 1.3vw;
    font-weight: 500;
    margin-top: 1vh;
    padding: 0;
    width: 80%;
    height: 4vh;
    margin-left: 1vw;
    color: rgba(225, 71, 71, 1);
}
.tasks ul{
    width: 80%;
    height: 6vh;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left: 1vh;
}
.tasks li{
    display: flex;
    font-size: 2vh;
    transition: all .3s ease;
    margin-left: unset;
    padding-left: unset;
}
.c-tasks{
    padding: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    min-height: 10vh;
    background-color: rgba(71, 71, 225, 0.1);
}
.c-tasks li{
    display: none;
    font-size: 1vh;
}
.c-tasks h1{
    font-size: 1vh;
    font-weight: 500;
    margin: unset;
    padding: unset;
}
.c-tasks h1{
    all: unset;
}
.card h1{
    font-weight: bold;
    font-size: 1.4vw;
    width: 11vw;
}
.inner-card{
    display: flex;
}
.inner-card h1{
    font-weight: 500;
    font-size: 1vw;
    height: 3vh;
    width: 8vw;
}
.inner-card .material-symbols-outlined{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: auto;
}
.panel{
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panel p{
    width: 25vw;
    height: 30vh;
    color: #FFFFFF;
}
.panel h1{
    width: 22vw;
    height: 3vh;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #FFFFFF;
}

#timer-button{
    width: 15vw;
    height: 7vh;
    border: none;
    font-size: 4vh;
    transition: all .6s ease;
}
#timer-button:hover{
    transform: scale(1.02);
    color: white;
    background-color: green;
}
#arcCanvas{
    transform: rotate(180deg);
}